/*Estilos del Index */
.caja {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
    margin-top: 0px;
}

header {
    background-color: darkblue;
    padding: 20px 0;
    
}
#logo{
    margin-top: 25px;
    width: 120px;
    margin-left: 2cm;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    padding: 1cm;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    color:blue;
    text-decoration: underline;
}

/*Organozacion de las imagenes de las tarjetas*/
#img-4,#img-5,#img-6{
    margin-top: 1cm;
    margin-bottom: 1cm;
}

#img4,#img6{
    height: 245px;
}

#img1,#img3{
    height: 300px;
}

/*Video inicial*/
#video{
    width: 10px;
    height: 10px;
}